
/* hide Tiny MCE Ads*/
span.tox-statusbar__branding {
     display: none;
}

div.ui.label.proplist {
     margin-bottom: .14285714em;
     margin-top: .14285714em;
}

body {
     background-image: url("../pictures/mountain_backround.jpg");
     background-size: cover;
}
.ui.container.messages {
     margin-top: 100px;
}

.ui.main.container {
     margin-top: 3rem;
}


.adminContainer {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 20px;
}


     .ui.inverted.vertical.footer.segment {
          
          bottom: 0px;
     }

@media only screen and (max-width: 768px) {
     .adminContainer {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
     }
}